.top{
    height: 120px;
    background-color: #1592fe;
    padding: 20px 10px;
    display: flex;
    display: -webkit-flex; /* Safari */
}
.top img{
    width: 80px;

}
.top .shopinfo{
    width: 50%;
    display: block;
    padding: 20px 10px;
    height: 80px;
}
.top .more{
    text-align: center;
    width: 7rem;
    padding: 30px 10px;
    font-size: 1rem;
    line-height: 30px;
    align-self: stretch;
}
.more a{
    display: block;
    width: 5rem;
    border-radius: 30px;
    background-color: #00dbf5;
}
.incom{
    height: 55px;
    background-color: #0055ff;
    display: flex;
}
.incom .incom_today{
    width: 50%;
    padding: 0 10px;
    height: 100%;

}
.incom .incom_total{
    width: 50%;
    padding: 0 10px;
    height: 100%;

}
p{
    margin: 5px;
    color: #000000;
}
.fp{
    font-size: 14px;
    line-height: 14px;
}
.sp{
    font-size: 32px;
    line-height: 22px;
}
.content,ol{
width: 100%;
}
li{
    width: 100%;
    display: flex;
    display: -webkit-flex; /* Safari */
}
.contentdiv{
    font-size: 1rem;
    width: 46%;
    margin: 2%;
    height: 120px;
    background-color: #FFFFFF;
    text-align: center;
}
.contentdiv img{
    display: block;
    width: 65px;
    margin: 10px auto;

}
.msg{
    height: 50px;
    display: flex;
    background-color: white;
}
.msg div{
    width: 50%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
}