<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="email=no" name="format-detection">
    <title>取件</title>
    <link rel="stylesheet" href="css/idangerous.swiper.css">
    <link rel="stylesheet" href="css/idangerous.swiper.scrollbar.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/simple-app.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/order.css">
    <script src="js/zepto.js"></script>
    <script src="js/template.js"></script>
    <script src="js/common.js"></script>

</head>
<body>
<div class="main">
    <div class="swiper-nav swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><span>未取</span></div>
            <div class="swiper-slide"><span>未交</span></div>
            <div class="swiper-slide"><span>已交</span></div>
        </div>
    </div>

    <div class="swiper-pages swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-container scroll-container">
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="page-inner">
                                <div id="order_weiqu">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container scroll-container">
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="page-inner">
                                <div id="order_yiqu">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-container scroll-container">
                    <div class="swiper-scrollbar"></div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="page-inner">
                                <div id="order_yijiao">


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="js/jquery.min.js"></script>
        <!-- Don't forget to get the latest Swiper and scrollbar version here-->
        <script src="js/idangerous.swiper-2.0.min.js"></script>
        <script src="js/idangerous.swiper.scrollbar-2.0.js"></script>
        <script src="js/simple-app.js"></script>
<script>

    var token =window.base.getLocalStorage("drtoken")
    if(!token){
       // window.location.href="login.html"
        alert(token)
    }
    function delivery(id) {
        var getdata = {
            url: 'del/order/merchant/get',
            type: 'post',
            data: {"id":id},
            tokenFlag: true,
            sCallback: function (res) {
                if (res.msg == "ok") {
                    alert("已确认送达")
                    window.location.reload(true)
                } else {
                    alert(res.msg)
                }
            },
            eCallback: function (e) {
                //  showTip(e)
            }
        };
        window.base.getData(getdata);
    }
</script>

        <script id="order_weiqu_tem" type="text/html">
            {{each datas as item index}}
            {{ if (item.status.id == 2)||(item.status.id == 3)}}
            <div class="order_box">
                <p>订单编号：{{item.order_no}}</p>
                <p>订单价格：￥{{item.total_price}} 元</p>
                <p>预约时间：{{item.time}}</p>
                <p>客户姓名：{{item.snap_address.name}}</p>
                <p>客户电话：{{item.snap_address.mobile}}</p>
                <p>客户地址：{{item.snap_address.city+item.snap_address.county+item.snap_address.detail}}</p>
                <p>物流状态：{{item.status.status}}</p>
                <div class="btn_area">
                    {{if item.status.id == 2 }}
                    <a class="btn btn-default btn_order" onclick=" updateorder({{item.id}})">确认订单信息</a>
                    {{/if}}
                    <a class="btn btn-default btn_order" href="{{item.snap_address.mobile}}">拨打电话</a></div>
            </div>
            {{/if}}
            {{/each}}
        </script>

        <script id="order_yiqu_tem" type="text/html">
            {{each datas as item index}}
            {{ if item.status.id == 4}}
            <div class="order_box">
                <p>订单编号：{{item.order_no}}</p>
                <p>订单价格：￥{{item.total_price}} 元</p>
                <p>预约时间：{{item.time}}</p>
                <p>客户姓名：{{item.snap_address.name}}</p>
                <p>客户电话：{{item.snap_address.mobile}}</p>
                <p>客户地址：{{item.snap_address.city+item.snap_address.county+item.snap_address.detail}}</p>
                <p>物流状态：{{item.status.status}}</p>

            </div>
            {{/if}}
            {{/each}}
        </script>

        <script id="order_yijiao_tem" type="text/html">
            {{each datas as item index}}
            {{if item.status.id == 5}}
            <div class="order_box">
                <p>订单编号：{{item.order_no}}</p>
                <p>订单价格：￥{{item.total_price}} 元</p>
                <p>预约时间：{{item.time}}</p>
                <p>客户姓名：{{item.snap_address.name}}</p>
                <p>客户电话：{{item.snap_address.mobile}}</p>
                <p>客户地址：{{item.snap_address.city+item.snap_address.county+item.snap_address.detail}}</p>
                <p>物流状态：{{item.status.status}}</p>
            </div>
            {{/if}}
            {{/each}}
        </script>

        <script>
            var getdata = {
                url: 'del/order/delivery/all',
                type: 'post',
                data: "",
                tokenFlag: true,
                sCallback: function (res) {
                    if (res.msg == undefined) {
                        console.log(res)
                        window.base.setLocalStorage("orderinfo",res)
                        var order_weiqu_html = template("order_weiqu_tem", {"datas":res})
                        $("#order_weiqu").html(order_weiqu_html)
                        var order_yiqu_html = template("order_yiqu_tem", {"datas":res})
                        $("#order_yiqu").html(order_yiqu_html)
                        var order_yijiao_html = template("order_yijiao_tem", {"datas":res})
                        $("#order_yijiao").html(order_yijiao_html)
                    } else {
                        alert(res.msg)
                    }
                },
                eCallback: function (e) {
                    //  showTip(e)
                }
            };
            window.base.getData(getdata);

//function delivery(id) {
//    var deliveryorder={
//        url:'del/order/merchant/get',
//        type:'post',
//        data:{"id":id},
//        tokenFlag:true,
//        sCallback:function(res){
//            if(res.msg=="ok"){
//                alert("订单状态送达成功")
//              //  window.location.reload(true)
//            }else {
//                alert("订单信息确认失败")
//            }
//        },
//        eCallback:function(e){
//            //     showTip(e)
//        }
//    };
//    window.base.getData(deliveryorder);
//}

            function updateorder(id) {
                order_info={"id":id,"products":""}
                var getorder={
                    url:'api/order/delivery/update',
                    type:'post',
                    data:JSON.stringify(order_info),
                    data_type:true,
                    tokenFlag:true,
                    sCallback:function(res){
                        if(res.msg=="ok"){
                            alert("确认订单成功")
                            window.location.reload(true)
                            console.log(res)
                        }else {
                            alert("确认订单信息失败")
                        }
                    },
                    eCallback:function(e){
                        //     showTip(e)
                    }
                };
                window.base.getData(getorder);
            }


        </script>

    </div>
</body>
</html>